{% extends "base.html" %}
{% block title %}Introduction{% endblock %}
{% block body %}

<div class="container">
  <h1>DBMS for City Living Quality Evaluation System</h1>
  <p class="lead">By Peiyuan Sun &amp; Xinzhi Zhang</p>
  <br><br>

  <h3>Project Description</h3>
  <p>A simple web application that allows users to filter through a database containing <a href="https://www.numbeo.com/property-investment/rankings_current.jsp" target="_blank">City Living Quality Index</a> which can be found in <a href="https://www.numbeo.com/cost-of-living/" target="_blank">this website</a>. Users are able to add their own city's index as well as modify the city's information. We also plan to design a user login system.</p>
  <br><br>

  <h3>Technologies We Used</h3>
  <ul>
    <li>Python</li>
    <li>Flask</li>
    <li>MySQL</li>
    <li>HTML/CSS/JS</li>
  </ul>
  <br><br>

  <h3>UML Diagram</h3>
  <img src="https://github.com/hohoXin/CS5200-final/blob/main/ER_city.jpg?raw=true" alt="">
  <br><br><br><br><br>

  <h3>Flow Chart</h3>
  <img src="https://github.com/hohoXin/CS5200-final/blob/main/flowChart.png?raw=true" alt="">

</div>

{% endblock %}
